<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>課題管理システム</title>
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    <nav>
      <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="/">
              <span itemprop="name">ホーム</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="/tasks">
              <span itemprop="name">課題管理システム</span>
          </a>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
    </nav>
    <h1>課題一覧</h1>
    <a href="/tasks/create" class="btn-square-slant">新規追加</a>
    <hr>
    
    <table border="1">
        <tr>
            <th>ID</th>
            <th>科目名</th>
            <th>内容</th>
            <th>期限</th>
            <th>時間(分)</th>
            <th>操作</th>
        </tr>
        <% for (let row of data) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.subject %></td>
            <td><%= row.title %></td>
            <td><%= row.deadline %></td>
            <td><%= row.time %></td>
            <td><a href="/tasks/<%= row.id %>">詳細</a></td>
        </tr>
        <% } %>
    </table>
</body>
</html>